In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import re

In [2]:
url="https://www.mohfw.gov.in/"
response=requests.get(url)

In [3]:
response

In [4]:

soup = BeautifulSoup(response.text, "html.parser")

In [5]:
#tables=soup.find_all('tbody')
#tab=tables[1].find_all('tr')[:-1]
tab=soup.find_all('tr')

In [6]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    text=str(text)
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [7]:
def get_count(text):
    text=str(text)
    num=int(re.findall(r'\d+', text)[0])
    return num

print(get_count("2223*"))

2223

In [8]:
def check_state(text):
    text=str(text)
    lst=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Telengana","Ladakh","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","Delhi","Puducherry"]
    if text in lst:
        return text
    else:
        raise Exception("Sorry")

In [9]:
sl=list()
state=list()
indian=list()
foreign=list()
discharged=list()
death=list()

In [10]:
for row in tab:
    lst=row.find_all('td')
    if(len(lst)==6):
        try:
            state.append((remove_html_tags(lst[1])))
            indian.append(get_count(remove_html_tags(lst[2])))
            foreign.append(get_count(remove_html_tags(lst[3])))
            discharged.append(get_count(remove_html_tags(lst[4])))
            death.append(get_count(remove_html_tags(lst[5])))
        except:
            pass
    else:
        pass

In [11]:
import pandas as pd

In [12]:
data=pd.DataFrame(list(zip(state,indian,foreign,discharged,death)),columns=['State','Indian','Foregin','Discharged','Death'])
#data=pd.DataFrame(list(zip(state,indian,foreign,discharged,death)),columns=['State','Indian','Foregin','Discharged','Death'])

In [13]:
data

                State  Indian  Foregin  Discharged  Death
0      Andhra Pradesh       5        0           0      0
1               Bihar       2        0           0      1
2        Chhattisgarh       1        0           0      0
3               Delhi      28        1           5      1
4             Gujarat      18        0           0      1
5             Haryana       7       14           0      0
6    Himachal Pradesh       2        0           0      0
7           Karnataka      26        0           2      1
8              Kerala      60        7           3      0
9      Madhya Pradesh       6        0           0      0
10        Maharashtra      64        3           0      2
11             Odisha       2        0           0      0
12         Puducherry       1        0           0      0
13             Punjab      21        0           0      1
14          Rajasthan      25        2           3      0
15         Tamil Nadu       7        2           1      0
16          Telengana      15       11           1      0
17         Chandigarh       5        0           0      0
18  Jammu and Kashmir       4        0           0      0
19             Ladakh      13        0           0      0
20      Uttar Pradesh      27        1           9      0
21        Uttarakhand       3        0           0      0
22        West Bengal       7        0           0      0

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data['total']=data['Indian']+data['Foregin']+data['Discharged']+data['Death']

In [16]:
data

                State  Indian  Foregin  Discharged  Death  total
0      Andhra Pradesh       5        0           0      0      5
1               Bihar       2        0           0      1      3
2        Chhattisgarh       1        0           0      0      1
3               Delhi      28        1           5      1     35
4             Gujarat      18        0           0      1     19
5             Haryana       7       14           0      0     21
6    Himachal Pradesh       2        0           0      0      2
7           Karnataka      26        0           2      1     29
8              Kerala      60        7           3      0     70
9      Madhya Pradesh       6        0           0      0      6
10        Maharashtra      64        3           0      2     69
11             Odisha       2        0           0      0      2
12         Puducherry       1        0           0      0      1
13             Punjab      21        0           0      1     22
14          Rajasthan      25        2           3      0     30
15         Tamil Nadu       7        2           1      0     10
16          Telengana      15       11           1      0     27
17         Chandigarh       5        0           0      0      5
18  Jammu and Kashmir       4        0           0      0      4
19             Ladakh      13        0           0      0     13
20      Uttar Pradesh      27        1           9      0     37
21        Uttarakhand       3        0           0      0      3
22        West Bengal       7        0           0      0      7

In [17]:
data.sort_values(by='total',axis=0,ascending=False,inplace=True)

In [18]:
helpline="+91-11-23978046"

In [19]:
counts=soup.findAll("span", {"class": "icount"})

In [20]:
label=soup.findAll("div", {"class": "info_label"})

In [21]:
info=dict()
for i in range(len(counts)):
    info[remove_html_tags(label[i])]=[0]

In [22]:
for i in range(len(counts)):
    info[remove_html_tags(label[i])].append(get_count(remove_html_tags(counts[i])))
info

{'Passengers screened at airport': [0, 15],
 '*': [0, 415],
 'Cured/discharged cases ': [0, 23],
 'Death cases ': [0, 7],
 'Migrated COVID-19 Patient ': [0, 1]}

In [23]:
info

{'Passengers screened at airport': [0, 15],
 '*': [0, 415],
 'Cured/discharged cases ': [0, 23],
 'Death cases ': [0, 7],
 'Migrated COVID-19 Patient ': [0, 1]}

In [24]:
data.to_json('save.json')

In [25]:
aa=data.to_dict()

In [26]:
aa

{'State': {8: 'Kerala',
  10: 'Maharashtra',
  20: 'Uttar Pradesh',
  3: 'Delhi',
  14: 'Rajasthan',
  7: 'Karnataka',
  16: 'Telengana',
  13: 'Punjab',
  5: 'Haryana',
  4: 'Gujarat',
  19: 'Ladakh',
  15: 'Tamil Nadu',
  22: 'West Bengal',
  9: 'Madhya Pradesh',
  17: 'Chandigarh',
  0: 'Andhra Pradesh',
  18: 'Jammu and Kashmir',
  1: 'Bihar',
  21: 'Uttarakhand',
  6: 'Himachal Pradesh',
  11: 'Odisha',
  12: 'Puducherry',
  2: 'Chhattisgarh'},
 'Indian': {8: 60,
  10: 64,
  20: 27,
  3: 28,
  14: 25,
  7: 26,
  16: 15,
  13: 21,
  5: 7,
  4: 18,
  19: 13,
  15: 7,
  22: 7,
  9: 6,
  17: 5,
  0: 5,
  18: 4,
  1: 2,
  21: 3,
  6: 2,
  11: 2,
  12: 1,
  2: 1},
 'Foregin': {8: 7,
  10: 3,
  20: 1,
  3: 1,
  14: 2,
  7: 0,
  16: 11,
  13: 0,
  5: 14,
  4: 0,
  19: 0,
  15: 2,
  22: 0,
  9: 0,
  17: 0,
  0: 0,
  18: 0,
  1: 0,
  21: 0,
  6: 0,
  11: 0,
  12: 0,
  2: 0},
 'Discharged': {8: 3,
  10: 0,
  20: 9,
  3: 5,
  14: 3,
  7: 2,
  16: 1,
  13: 0,
  5: 0,
  4: 0,
  19: 0,
  15: 1,
  22: 0,
  9: 0,
  17: 0,
  0: 0,
  18: 0,
  1: 0,
  21: 0,
  6: 0,
  11: 0,
  12: 0,
  2: 0},
 'Death': {8: 0,
  10: 2,
  20: 0,
  3: 1,
  14: 0,
  7: 1,
  16: 0,
  13: 1,
  5: 0,
  4: 1,
  19: 0,
  15: 0,
  22: 0,
  9: 0,
  17: 0,
  0: 0,
  18: 0,
  1: 1,
  21: 0,
  6: 0,
  11: 0,
  12: 0,
  2: 0},
 'total': {8: 70,
  10: 69,
  20: 37,
  3: 35,
  14: 30,
  7: 29,
  16: 27,
  13: 22,
  5: 21,
  4: 19,
  19: 13,
  15: 10,
  22: 7,
  9: 6,
  17: 5,
  0: 5,
  18: 4,
  1: 3,
  21: 3,
  6: 2,
  11: 2,
  12: 1,
  2: 1}}