In [52]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import re

In [53]:
url="https://www.mohfw.gov.in/"
response=requests.get(url)

In [54]:
response

In [55]:

soup = BeautifulSoup(response.text, "html.parser")

In [56]:
#tables=soup.find_all('tbody')
#tab=tables[1].find_all('tr')[:-1]
tab=soup.find_all('tr')

In [57]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    text=str(text)
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [58]:
def get_count(text):
    text=str(text)
    num=int(re.findall(r'\d+', text)[0])
    return num

print(get_count("2223*"))

2223

In [59]:
def check_state(text):
    text=str(text)
    lst=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Telengana","Ladakh","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","Delhi","Puducherry"]
    if text in lst:
        return text
    else:
        raise Exception("Sorry")

In [60]:
sl=list()
state=list()
indian=list()
foreign=list()
discharged=list()
death=list()

In [61]:
for row in tab:
    lst=row.find_all('td')
    if(len(lst)==6):
        try:
            state.append((remove_html_tags(lst[1])))
            indian.append(get_count(remove_html_tags(lst[2])))
            foreign.append(get_count(remove_html_tags(lst[3])))
            discharged.append(get_count(remove_html_tags(lst[4])))
            death.append(get_count(remove_html_tags(lst[5])))
        except:
            pass
    else:
        pass

In [62]:
import pandas as pd

In [63]:
data=pd.DataFrame(list(zip(indian,foreign,discharged,death)),columns=['Indian','Foregin','Discharged','Death'],index=state)
#data=pd.DataFrame(list(zip(state,indian,foreign,discharged,death)),columns=['State','Indian','Foregin','Discharged','Death'])

In [64]:
data

                   Indian  Foregin  Discharged  Death
Andhra Pradesh          3        0           0      0
Chhattisgarh            1        0           0      0
Delhi                  26        1           5      1
Gujarat                14        0           0      0
Haryana                 3       14           0      0
Himachal Pradesh        2        0           0      0
Karnataka              20        0           2      1
Kerala                 45        7           3      0
Madhya Pradesh          4        0           0      0
Maharashtra            60        3           0      2
Odisha                  2        0           0      0
Puducherry              1        0           0      0
Punjab                 13        0           0      1
Rajasthan              22        2           3      0
Tamil Nadu              4        2           1      0
Telengana              10       11           1      0
Chandigarh              5        0           0      0
Jammu and Kashmir       4        0           0      0
Ladakh                 13        0           0      0
Uttar Pradesh          24        1           9      0
Uttarakhand             3        0           0      0
West Bengal             4        0           0      0

In [65]:
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
data['total']=data['Indian']+data['Foregin']+data['Discharged']+data['Death']

In [67]:
data

                   Indian  Foregin  Discharged  Death  total
Andhra Pradesh          3        0           0      0      3
Chhattisgarh            1        0           0      0      1
Delhi                  26        1           5      1     33
Gujarat                14        0           0      0     14
Haryana                 3       14           0      0     17
Himachal Pradesh        2        0           0      0      2
Karnataka              20        0           2      1     23
Kerala                 45        7           3      0     55
Madhya Pradesh          4        0           0      0      4
Maharashtra            60        3           0      2     65
Odisha                  2        0           0      0      2
Puducherry              1        0           0      0      1
Punjab                 13        0           0      1     14
Rajasthan              22        2           3      0     27
Tamil Nadu              4        2           1      0      7
Telengana              10       11           1      0     22
Chandigarh              5        0           0      0      5
Jammu and Kashmir       4        0           0      0      4
Ladakh                 13        0           0      0     13
Uttar Pradesh          24        1           9      0     34
Uttarakhand             3        0           0      0      3
West Bengal             4        0           0      0      4

In [71]:
data.sort_values(by='total',axis=0,ascending=False,inplace=True)

In [8]:
helpline="+91-11-23978046"

In [73]:
counts=soup.findAll("span", {"class": "icount"})

In [74]:
label=soup.findAll("div", {"class": "info_label"})

In [80]:
info=dict()
for i in range(len(counts)):
    info[remove_html_tags(label[i])]=[0]

In [81]:
for i in range(len(counts)):
    info[remove_html_tags(label[i])].append(get_count(remove_html_tags(counts[i])))
info

{'Passengers screened at airport': [0, 14],
 '*': [0, 341],
 'Cured/discharged cases ': [0, 23],
 'Death cases ': [0, 5],
 'Migrated COVID-19 Patient ': [0, 1]}

In [46]:
info

{'Passengers screened at airport': 14,
 '*': 341,
 'Cured/discharged cases ': 23,
 'Death cases ': 5,
 'Migrated COVID-19 Patient ': 1}

In [47]:
data.to_json('save.json')

In [69]:
aa=data.to_dict()

In [70]:
aa

{'Indian': {'Andhra Pradesh': 3,
  'Chhattisgarh': 1,
  'Delhi': 26,
  'Gujarat': 14,
  'Haryana': 3,
  'Himachal Pradesh': 2,
  'Karnataka': 20,
  'Kerala': 45,
  'Madhya Pradesh': 4,
  'Maharashtra': 60,
  'Odisha': 2,
  'Puducherry': 1,
  'Punjab': 13,
  'Rajasthan': 22,
  'Tamil Nadu': 4,
  'Telengana': 10,
  'Chandigarh': 5,
  'Jammu and Kashmir': 4,
  'Ladakh': 13,
  'Uttar Pradesh': 24,
  'Uttarakhand': 3,
  'West Bengal': 4},
 'Foregin': {'Andhra Pradesh': 0,
  'Chhattisgarh': 0,
  'Delhi': 1,
  'Gujarat': 0,
  'Haryana': 14,
  'Himachal Pradesh': 0,
  'Karnataka': 0,
  'Kerala': 7,
  'Madhya Pradesh': 0,
  'Maharashtra': 3,
  'Odisha': 0,
  'Puducherry': 0,
  'Punjab': 0,
  'Rajasthan': 2,
  'Tamil Nadu': 2,
  'Telengana': 11,
  'Chandigarh': 0,
  'Jammu and Kashmir': 0,
  'Ladakh': 0,
  'Uttar Pradesh': 1,
  'Uttarakhand': 0,
  'West Bengal': 0},
 'Discharged': {'Andhra Pradesh': 0,
  'Chhattisgarh': 0,
  'Delhi': 5,
  'Gujarat': 0,
  'Haryana': 0,
  'Himachal Pradesh': 0,
  'Karnataka': 2,
  'Kerala': 3,
  'Madhya Pradesh': 0,
  'Maharashtra': 0,
  'Odisha': 0,
  'Puducherry': 0,
  'Punjab': 0,
  'Rajasthan': 3,
  'Tamil Nadu': 1,
  'Telengana': 1,
  'Chandigarh': 0,
  'Jammu and Kashmir': 0,
  'Ladakh': 0,
  'Uttar Pradesh': 9,
  'Uttarakhand': 0,
  'West Bengal': 0},
 'Death': {'Andhra Pradesh': 0,
  'Chhattisgarh': 0,
  'Delhi': 1,
  'Gujarat': 0,
  'Haryana': 0,
  'Himachal Pradesh': 0,
  'Karnataka': 1,
  'Kerala': 0,
  'Madhya Pradesh': 0,
  'Maharashtra': 2,
  'Odisha': 0,
  'Puducherry': 0,
  'Punjab': 1,
  'Rajasthan': 0,
  'Tamil Nadu': 0,
  'Telengana': 0,
  'Chandigarh': 0,
  'Jammu and Kashmir': 0,
  'Ladakh': 0,
  'Uttar Pradesh': 0,
  'Uttarakhand': 0,
  'West Bengal': 0},
 'total': {'Andhra Pradesh': 3,
  'Chhattisgarh': 1,
  'Delhi': 33,
  'Gujarat': 14,
  'Haryana': 17,
  'Himachal Pradesh': 2,
  'Karnataka': 23,
  'Kerala': 55,
  'Madhya Pradesh': 4,
  'Maharashtra': 65,
  'Odisha': 2,
  'Puducherry': 1,
  'Punjab': 14,
  'Rajasthan': 27,
  'Tamil Nadu': 7,
  'Telengana': 22,
  'Chandigarh': 5,
  'Jammu and Kashmir': 4,
  'Ladakh': 13,
  'Uttar Pradesh': 34,
  'Uttarakhand': 3,
  'West Bengal': 4}}